<?xml version="1.0"?>
<odoo>
    <record id="action_shift_members" model="ir.actions.act_window">
        <field name="name">Members</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="target">current</field>
        <field name="domain">[]</field>
    </record>
    <menuitem
        name="Members"
        id="shift_main_menu"
        sequence="66"
        groups="coop_shift.group_shift_user"
        web_icon="coop_shift,static/description/icon.png"/>
    <menuitem
        name="Shifts"
        parent="shift_main_menu"
        id="shift_menu"
        sequence="11"
        groups="coop_shift.group_shift_user,coop_membership.group_membership_bdm_lecture"/>
    <menuitem
        name="Templates"
        parent="shift_main_menu"
        id="template_menu"
        sequence="22"
        groups="coop_shift.group_shift_manager"/>
    <menuitem
        name="Reports"
        parent="shift_main_menu"
        id="menu_reporting_shifts"
        sequence="99"
        groups="coop_shift.group_shift_manager"/>
    <menuitem
        id="menu_shift_configuration"
        name="Configuration"
        parent="shift_main_menu"
        sequence="100"
        groups="base.group_configuration"/>

    <record model="ir.ui.menu" id="menu_shift_counter_event">
        <field name="name">Counter Events</field>
        <field name="action" ref="action_shift_counter_event"/>
        <field name="parent_id" ref="shift_menu"/>
        <field name="sequence">28</field>
    </record>

    <record model="ir.ui.menu" id="menu_shift_extension">
        <field name="name">Extensions</field>
        <field name="action" ref="action_shift_extension"/>
        <field name="parent_id" ref="shift_menu"/>
        <field name="sequence">30</field>
        <field name="groups_id" eval="[(6, 0, [ref('coop_shift.group_shift_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="menu_shift_extension_type">
        <field name="name">Extensions Types</field>
        <field name="action" ref="action_shift_extension_type"/>
        <field name="parent_id" ref="menu_shift_configuration"/>
        <field name="sequence">15</field>
    </record>

    <record model="ir.ui.menu" id="menu_shift_leave">
        <field name="name">Leaves</field>
        <field name="action" ref="action_shift_leave"/>
        <field name="parent_id" ref="template_menu"/>
        <field name="sequence">35</field>
    </record>

    <record model="ir.ui.menu" id="menu_shift_leave_type">
        <field name="name">Leaves Types</field>
        <field name="action" ref="action_shift_leave_type"/>
        <field name="parent_id" ref="menu_shift_configuration"/>
        <field name="sequence">16</field>
    </record>

</odoo>
