<?xml version="1.0"?>
<!--
    Copyright (C) 2016-Today: La Louve (<http://www.lalouve.net/>)
    @author: Sylvain LE GAL (https://twitter.com/legalsylvain)
    Copyright (C) 2019-Today: Druidoo (<https://www.druidoo.io>)
    License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<odoo>

    <menuitem id="menu_product_print_category"
              parent="sale.menu_sale_config" sequence="11"
              action="action_product_print_category"
              groups="product_print_category.user"/>

</odoo>
