.page_pricetag{
    padding:0px;margin:58mm;border:0px;overflow:hidden;
}
.body_pricetag{
    padding:0px;margin:50mm;border:0px;overflow:hidden;
}
.label_container{
    page-break-inside: avoid;
    width:6.4cm; height:3.45cm; float:left;
    margin-left:0cm;
    margin-right:0cm;
    margin-top:0cm;
    margin-bottom:0cm;
    padding:0cm;
}
.label_border{
    border:1px solid;
}
.pricetag{
    height: 100%;
    width:100%; 
    padding:0.1cm;
    }
.label_top{
    width:100%; height:30%; float:left;
    margin-bottom:0.2cm;
    }
.label_left{
    width:60%; height:35%; float:left;
    }
.label_right{
    width:40%; height:35%; float:right;
}
.label_bottom{
    width:100%; height:30%; float:left;
}
.product_name{
    height: 100%;
    width:100%;
    font-size: 17px;
    font-weight:bold;
    line-height:18px;
    overflow: hidden;
    }
.product_informations{
    background-color: rgba(255, 255, 255, 1);
    width:100%;height:100%;
    font-size:9px;
    }
.product_price{
    width:100%;height:100%;
    line-height: 1.2cm;
    text-align:center; font-size:22px; font-weight:bold;
    }