.page_pricetag_vege{
    padding:0px;margin:58mm;border:0px;overflow:hidden;
}
.body_pricetag_vege{
    padding:0px;margin:50mm;border:0px;overflow:hidden;
}
.label_container_vege{
    page-break-inside: avoid;
    width:16cm; height:11cm; float:left;
    margin-left:0cm;
    margin-right:0cm;
    margin-top:0cm;
    margin-bottom:0cm;
    padding:1cm;
}
.label_border_vege{
    border:1px solid;
}
.pricetag_vege{
    height: 100%;
    width:100%; 
    padding:0.1cm;
    }
.label_top_vege{
    width:100%; height:20%; float:left;
    margin-bottom:0.5cm;
    }
.label_left_vege{
    width:60%; height:35%; float:left;
    }
.label_right_vege{
    width:40%; height:40%; float:right; padding-top: 30px;
}
.label_bottom_vege{
    width:100%; height:40%; float:left; padding-top: 10px;
}
.product_name_vege{
    height: 100%;
    width:100%;
    font-size: 33px;
    font-weight:bold;
    line-height:34px;
    overflow: hidden;
    }
.product_informations_vege{
    background-color: rgba(255, 255, 255, 1);
    width:100%;height:100%;
    font-size:20px;
    }

.product_code{
    font-size: 55px;
    font-weight:bold;
    overflow: hidden;
    }

.product_origin{
    font-size: 44px;
    font-weight:bold;
    width:100%;
    height: 37%
    }

.pricetag_otherinfo{
    overflow: hidden;
    width: 100%;
    height: 63%;
    }

.product_price_vege{
    width:100%;height:30%;
    line-height: 2.4cm;
    text-align:center; font-size:44px; font-weight:bold;
    }
.product_price_uom_vege{
    width:100%;height:100%;
    line-height: 2.4cm;
    text-align:right; font-size:20px; font-weight:bold;
    }
