<?xml version="1.0"?>
<!--
    Copyright (C) 2016-Today: La Louve (<http://www.lalouve.net/>)
    @author: Sylvain LE GAL (https://twitter.com/legalsylvain)
    License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<odoo>

<!--Rename Main menu name-->
    <record model="ir.ui.menu" id="coop_shift.shift_main_menu">
        <field name="name">Members</field>
        <field name="groups_id" eval="[(4, ref('louve_membership.subscriptions_reader'), (4, ref('coop_shift.group_shift_user')))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_louve_member_submain">
        <field name="name">Members</field>
        <field name="parent_id" ref="coop_shift.shift_main_menu"/>
        <field name="sequence">1</field>
    </record>

    <record model="ir.ui.menu" id="menu_res_partner_members">
        <field name="name">Members</field>
        <field name="action" ref="action_res_partner_subscriptions"/>
        <field name="parent_id" ref="menu_louve_member_submain"/>
        <field name="sequence">1</field>
    </record>

    <record model="ir.ui.menu" id="menu_louve_subscriptions_submain">
        <field name="name">Subscriptions</field>
        <field name="parent_id" ref="coop_shift.shift_main_menu"/>
        <field name="sequence">2</field>
        <field name="groups_id" eval="[(4, [ref('louve_membership.subscriptions_reader')])]"/>
    </record>

    <record model="ir.ui.menu" id="menu_account_invoice_subscriptions">
        <field name="name">Contracts</field>
        <field name="action" ref="action_account_invoice_customer_subscriptions"/>
        <field name="parent_id" ref="menu_louve_subscriptions_submain"/>
        <field name="sequence">1</field>
        <field name="groups_id" eval="[(4, [ref('louve_membership.subscriptions_reader')])]"/>
    </record>

    <record model="ir.ui.menu" id="menu_capital_fundraising_wizard">
        <field name="name">Wizard</field>
        <field name="action" ref="action_capital_fundraising_wizard"/>
        <field name="parent_id" ref="menu_louve_subscriptions_submain"/>
        <field name="groups_id" eval="[(4, [ref('louve_membership.subscriptions_creator')])]"/>
        <field name="sequence">2</field>
    </record>

    <record model="ir.ui.menu" id="menu_account_payment_subscriptions">
        <field name="name">Payments</field>
        <field name="action" ref="action_account_payment_subscriptions"/>
        <field name="parent_id" ref="menu_louve_subscriptions_submain"/>
        <field name="groups_id" eval="[(4, [ref('louve_membership.subscriptions_creator_payment')])]"/>
        <field name="sequence">3</field>
    </record>

    <record model="ir.ui.menu" id="capital_subscription.menu_capital_fundraising_wizard">
        <field name="groups_id" eval="[(4, ref('louve_membership.subscriptions_creator'))]" />
    </record>

</odoo>
