<?xml version="1.0"?>
<!--
    Copyright (C) 2016-Today: La Louve (<http://www.lalouve.net/>)
    @author: Sylvain LE GAL (https://twitter.com/legalsylvain)
    License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<odoo>

    <!--Refactor Employee's menus-->
    <record model="ir.ui.menu" id="mail.menu_root_discuss">
        <field name="groups_id" eval="[(3, ref('base.group_user'))]"/>
    </record>
    <record model="ir.ui.menu" id="maintenance.menu_equipment_form">
        <field name="groups_id" eval="[(3, ref('base.group_user'))]"/>
    </record>
    <record model="ir.ui.menu" id="maintenance.menu_m_request_form">
        <field name="groups_id" eval="[(3, ref('base.group_user'))]"/>
    </record>
    <record model="ir.ui.menu" id="hr.menu_hr_root">
        <field name="groups_id" eval="[(3, ref('base.group_user'))]"/>
    </record>
    <record model="ir.ui.menu" id="base.menu_board_root">
        <field name="groups_id" eval="[(3, ref('base.group_user'))]"/>
    </record>

    <!--Rename Main menu name-->
    <record model="ir.ui.menu" id="coop_shift.shift_main_menu">
        <field name="name">Members</field>
        <field name="groups_id" eval="[
            (4, ref('coop_membership.group_membership_access_user')),
            (4, ref('coop_membership.subscriptions_reader')),
            (4, ref('coop_membership.group_membership_bdm_lecture')),
            (4, ref('coop_membership.group_membership_bdm_saisie')),
            ]"
        />
    </record>

    <record model="ir.ui.menu" id="menu_coop_member_submain">
        <field name="name">Members</field>
        <field name="parent_id" ref="coop_shift.shift_main_menu"/>
        <field name="sequence">1</field>
    </record>

    <!--  Add new menu `Contacts` that it shows the list of all partner who links to coop -->
    <record model="ir.ui.menu" id="menu_res_partner_all_partners">
        <field name="name">Contacts</field>
        <field name="action" ref="action_coop_all_partner_view"/>
        <field name="parent_id" ref="menu_coop_member_submain"/>
        <field name="sequence">7</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.group_membership_see_all_members'))]"/>
    </record>

    <!-- Members -->
    <record model="ir.ui.menu" id="menu_res_partner_members">
        <field name="name">Members</field>
        <field name="parent_id" ref="menu_coop_member_submain"/>
        <field name="sequence">2</field>
        <field name="action" ref="action_coop_membership_access_rights"/>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.group_membership_access_user')),
               (4, ref('group_membership_bdm_lecture')),
               (4, ref('group_membership_bdm_saisie')),
               ]"/>
    </record>

    <!-- Associated People -->
    <record model="ir.ui.menu" id="menu_res_partner_associated">
        <field name="name">Associated People</field>
        <field name="action" ref="action_res_partner_associated"/>
        <field name="parent_id" ref="menu_coop_member_submain"/>
        <field name="sequence">3</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.group_membership_see_associated_people')), (4, ref('coop_membership.group_membership_bdm_lecture'))]"/>
    </record>

    <!-- Former Members -->
    <record model="ir.ui.menu" id="menu_res_partner_former_member">
        <field name="name">Former Members</field>
        <field name="action" ref="action_res_partner_former_member"/>
        <field name="parent_id" ref="menu_coop_member_submain"/>
        <field name="sequence">4</field>
        <field name="groups_id" eval="[
            (4, ref('coop_membership.group_membership_access_user')),
            (4, ref('coop_shift.group_shift_manager'))]"
        />
    </record>

    <!-- Interested People -->
    <record model="ir.ui.menu" id="menu_res_partner_interested_people">
        <field name="name">Interested People</field>
        <field name="action" ref="action_res_partner_interested_people"/>
        <field name="parent_id" ref="menu_coop_member_submain"/>
        <field name="sequence">5</field>
        <field name="active" eval="False"/>
        <field name="groups_id"
               eval="[(4, ref('coop_shift.group_shift_manager'))]"/>
    </record>

    <!-- Former Associated People -->
    <record model="ir.ui.menu" id="menu_res_partner_former_associated_people">
        <field name="name">Former Associated People</field>
        <field name="action"
               ref="action_res_partner_former_associated_people"/>
        <field name="parent_id" ref="menu_coop_member_submain"/>
        <field name="sequence">6</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.group_membership_see_associated_people'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_coop_subscriptions_submain">
        <field name="name">Subscriptions</field>
        <field name="parent_id" ref="coop_shift.shift_main_menu"/>
        <field name="sequence">2</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.subscriptions_reader'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_account_invoice_subscriptions">
        <field name="name">Contracts</field>
        <field name="action"
               ref="action_account_invoice_customer_subscriptions"/>
        <field name="parent_id" ref="menu_coop_subscriptions_submain"/>
        <field name="sequence">1</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.subscriptions_reader'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_capital_fundraising_wizard">
        <field name="name">Wizard</field>
        <field name="action" ref="action_capital_fundraising_wizard"/>
        <field name="parent_id" ref="menu_coop_subscriptions_submain"/>
        <field name="sequence">2</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.subscriptions_creator'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_account_payment_subscriptions">
        <field name="name">Payments</field>
        <field name="action" ref="action_account_payment_subscriptions"/>
        <field name="parent_id" ref="menu_coop_subscriptions_submain"/>
        <field name="sequence">3</field>
        <field name="groups_id"
               eval="[(4, ref('coop_membership.subscriptions_creator_payment'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_shift_holiday">
        <field name="name">Assouplissement Présence</field>
        <field name="action" ref="action_shift_holiday"/>
        <field name="parent_id" ref="coop_shift.menu_shift_configuration"/>
        <field name="sequence">20</field>
    </record>

    <record model="ir.ui.menu" id="coop_shift.shift_menu">
        <field name="groups_id"
               eval="[(6, 0, [ref('coop_shift.group_shift_user'), ref('coop_membership.group_membership_bdm_presence')])]"/>
    </record>

    <record model="ir.ui.menu" id="coop_shift.menu_action_registration">
        <field name="groups_id"
               eval="[(4, ref('coop_shift.group_shift_user'))]"/>
    </record>

    <record model="ir.ui.menu" id="mass_mailing.mass_mailing_menu_root">
        <field name="groups_id"
               eval="[(4, ref('base.group_system')),
               (4, ref('mass_mailing.group_mass_mailing_user'))]"/>
    </record>

    <record id="coop_shift.menu_shift_shift" model="ir.ui.menu">
        <field eval="8" name="sequence"/>
        <field name="groups_id" eval="[
            (4, ref('coop_shift.group_shift_user')),
            (4, ref('coop_membership.group_membership_access_user'))
            ]"
        />
    </record>

    <record id="coop_shift.menu_shift_counter_event" model="ir.ui.menu">
        <field name="groups_id" eval="[
            (4, ref('coop_shift.group_shift_user')),
            (4, ref('coop_membership.group_membership_access_user'))
            ]"
        />
    </record>

    <menuitem action="coop_membership.action_shift_attendance_entry_view"
              id="menu_shift_attendance_entry" name="Attendance Entry"
              parent="coop_shift.shift_menu" sequence="9"
              groups="coop_shift.group_shift_user,coop_membership.group_membership_access_user,coop_membership.group_membership_bdm_presence,coop_membership.group_membership_bdm_saisie"
    />

    <menuitem action="coop_membership.action_shift_seats_available_tree_view"
              id="menu_shift_seats_available" name="FTOP Seats"
              parent="coop_shift.shift_menu" sequence="9"
              groups="coop_shift.group_shift_user,coop_membership.group_membership_access_user,coop_membership.group_membership_bdm_presence"
    />

    <menuitem
            name="Templates"
            parent="coop_shift.shift_main_menu"
            id="coop_shift.template_menu"
            sequence="22"
            groups="coop_shift.group_shift_manager,coop_membership.group_membership_bdm_presence"/>

    <record model="ir.ui.menu" id="coop_shift.menu_shift_template">
        <field name="groups_id" eval="[(4, ref('coop_membership.group_membership_bdm_presence'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_action_shift_change_team">
        <field name="name">Change Teams</field>
        <field name="action" ref="action_shift_change_teams"/>
        <field name="parent_id" ref="coop_shift.template_menu"/>
        <field name="groups_id" eval="[
            (4, ref('coop_shift.group_shift_manager')),
            (4, ref('coop_membership.group_membership_bdm_presence'))
            ]"
        />
        <field name="sequence">50</field>
    </record>

    <!-- Menu Welcome Events -->
    <menuitem action="coop_membership.action_welcome_events_view"
              id="menu_welcome_events" name="Welcome Events"
              parent="event.event_main_menu" sequence="11"
    />
    <record id="event.menu_action_registration" model="ir.ui.menu">
        <field name="sequence">12</field>
    </record>

    <record id="event.menu_event_global_settings" model="ir.ui.menu">
        <field name="groups_id" eval="[(4,ref('event.group_event_manager'))]"/>
    </record>

    <record id="event.menu_event_configuration" model="ir.ui.menu">
        <field name="groups_id" eval="[(4,ref('event.group_event_manager'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_shift_counter_event_reason">
        <field name="name">Justifications</field>
        <field name="parent_id" ref="coop_shift.menu_shift_configuration"/>
        <field name="sequence">10</field>
        <field name="action" ref="action_shift_counter_event_reason"/>
        <field name="groups_id" eval="[(4,ref('event.group_event_manager'))]"/>
    </record>

    <record model="ir.ui.menu" id="menu_incite_o_matic">
        <field name="name">Incite-o-matique</field>
        <field name="action" ref="action_incite_o_matic"/>
        <field name="parent_id" ref="coop_shift.menu_shift_configuration"/>
        <field name="sequence">10</field>
    </record>

    <record model="ir.ui.menu" id="contacts.menu_contacts">
        <field name="groups_id" eval="[(3, ref('base.group_user'))]"/>
    </record>

    <record model="ir.ui.menu" id="maintenance.menu_maintenance_title">
        <field name="groups_id" eval="[(4, ref('maintenance.group_equipment_manager'))]"/>
    </record>

</odoo>
