<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2016-Today: GRAP (http://www.grap.coop)
@author Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<openerp><data>

    <menuitem id="menu_scale_root"
        name="Scales"
        parent="base.menu_sale_config" sequence="25"/>

    <menuitem id="menu_product_scale_system"
        parent="menu_scale_root" sequence="1"
        action="action_product_scale_system"/>

    <menuitem id="menu_product_scale_group"
        parent="menu_scale_root" sequence="2"
        action="action_product_scale_group"/>

    <menuitem id="menu_product_scale_log"
        parent="menu_scale_root" sequence="3"
        action="action_product_scale_log"/>

</data></openerp>
