<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (C) 2012-Today GRAP (http://www.grap.coop)
    Copyright (C) 2020-Today: Druidoo (<https://www.druidoo.io>)
    @author Julien WESTE
    @author: Sylvain LE GAL (https://twitter.com/legalsylvain)
    License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

<!-- Model: product.label -->
    <menuitem id="menu_product_label"
        parent="purchase.menu_procurement_management"
        action="action_product_label"
        sequence="150" />

<!-- Model: product.product -->
    <menuitem id="menu_product_product_food"
        parent="purchase.menu_procurement_management"
        action="action_product_product_food"
        sequence="151" />

    <menuitem id="menu_product_product_origin_3"
        parent="purchase.menu_procurement_management"
        action="action_product_product_origin"
        sequence="152" />

    <menuitem id="menu_product_product_pricetag_3"
        parent="purchase.menu_procurement_management"
        action="action_product_product_pricetag"
        sequence="153" />

</odoo>
