<ion-view view-title="Rechercher un membre" class="{{search_value.css_class}}">
    <ion-content class="padding">
        <div ng-show="errorMessage"></div>

        <form ng-submit="submit_barcode()">
            <div class="container theme-showcase" role="main">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="input-label">Code Barre</span>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="search_value.barcode" type="text" style="width:100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center;padding-top:30px">
                            <input type="submit" class="button button-positive" value="Rechercher">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center;padding-top:30px">
                            <div class="label label-danger" ng-show="errorMessage">{{ errorMessage }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <audio id="sound_res_partner_not_found" src="./audio/res_partner_not_found.mp3"></audio>

    </ion-content>
</ion-view>
