<ion-view view-title="Fiche membre" class="{{partner.css_class}}">
    <ion-content class="padding">

        <form ng-submit="go_back()">
            <div class="container theme-showcase" role="main">

                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-4">
                            <img ng-src="{{partner.image_url}}" class="img-thumbnail"/>
                        </div>
                        <div class="col-sm-8">
                            <h1><span ng-bind="partner.name"/></h1>
                            <h3>Statut :
                                <span class="label label-success" ng-show="partner.cooperative_state == 'up_to_date'">A jour</span>
                                <span class="label label-warning" ng-show="partner.cooperative_state == 'alert'">En alerte</span>
                                <span class="label label-warning" ng-show="partner.cooperative_state == 'delay'">Délai accordé</span>
                                <span class="label label-danger" ng-show="partner.cooperative_state == 'suspended'">Suspendu(e)</span>
                                <span class="label label-danger" ng-show="partner.cooperative_state == 'not_concerned'">Non concerné(e)</span>
                                <span class="label label-danger" ng-show="partner.cooperative_state == 'blocked'">Bloqué(e)</span>
                                <span class="label label-danger" ng-show="partner.cooperative_state == 'unpayed'">Impayé constaté</span>
                                <span class="label label-danger" ng-show="partner.cooperative_state == 'unsubscribed'">Désinscrit</span>
                            </h3>
                            <h3>Peut acheter :
                                <span class="label label-success" ng-show="partner.customer">OUI</span>
                                <span class="label label-danger" ng-hide="partner.customer">NON</span>
                            </h3>
                            <br /><br /><br />
                            <input type="submit" class="button button-positive" value="Retour">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <audio id="sound_res_partner_success" src="./audio/res_partner_success.mp3"></audio>
        <audio id="sound_res_partner_warning" src="./audio/res_partner_warning.mp3"></audio>
        <audio id="sound_res_partner_danger" src="./audio/res_partner_danger.mp3"></audio>
    </ion-content>
</ion-view>
